:root {
	/* Standard Inputs */
	--zbpg-face-up:  url("/themes_custom/Button%20Prompts%20Galore/ds2/imgs/shared_button_t.svg");
	--zbpg-face-dn:  url("/themes_custom/Button%20Prompts%20Galore/ds2/imgs/shared_button_x.svg");
	--zbpg-face-lf:  url("/themes_custom/Button%20Prompts%20Galore/ds2/imgs/shared_button_s.svg");
	--zbpg-face-rt:  url("/themes_custom/Button%20Prompts%20Galore/ds2/imgs/shared_button_o.svg");
}
